<li>
    <figure>
      <a class="aa-product-img" href="/ProductDetail"><img src="{{url}}" alt="polo shirt img"></a>
      <a class="aa-add-card-btn"routerLink="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
        <figcaption>
        <h4 class="aa-product-title"><a href="/ProductDetail">{{title}}</a></h4>
        <span class="aa-product-price">{{price}}</span><span class="aa-product-price"><del>{{oldprice}}</del></span>
      </figcaption>
    </figure>                        
    <div class="aa-product-hvr-content">
      <a routerLink="#"  data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
      <a routerLink="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
      <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                          
    </div>
    <!-- product badge -->
    <span class="{{class}}" routerLink="#">{{active}}</span>
  </li>