
  

  <!-- catg header banner section -->
  <section id="aa-catg-head-banner">
    <img src="assets/img/fashion/fashion-header-bg-8.png" alt="fashion img">
    <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Account Page</h2>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>                   
          <li class="active">Login</li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->

 <!-- Cart view section -->
 <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">         
            <div class="row">
              <div class="col-md-6">
                <div class="aa-myaccount-login">
                <h4>Login</h4>
                 <form [formGroup]="formLogin" class="aa-login-form" (ngSubmit)="onLogin()" >
                    <div class="form-group">
                        <label >Username or Email address<span>*</span></label>
                        <input type="text" formControlName="email" placeholder="Username or email">
                    </div>
                    <div class="form-group">
                        <label >Password<span>*</span></label>
                        <input type="password" formControlName="password" placeholder="Password">
                    </div>
                   
                    <button type="submit" class="aa-browse-btn">Login</button>
                    <label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
                    <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="aa-myaccount-register">                 
                 <h4>Register</h4>
                 <form [formGroup]="registerForm" class="aa-login-form" (ngSubmit)="onRegister()">
                    <div class="form-group">
                        <label >Username or Email address<span>*</span></label>
                        <input formControlName="email" type="text" placeholder="Username or email">
                    </div>
                    <div class="form-group">
                        <label for="">Password<span>*</span></label>
                        <input formControlName="password" type="password" placeholder="Password">   
                    </div>
                    <div class="form-group">
                        <label for="">Password Repeat<span>*</span></label>
                        <input formControlName="repeatPassword" type="password" placeholder="Password Repeat">
                    </div>
                    <button type="submit" class="aa-browse-btn">Register</button>              
                  </form>
                </div>
              </div>
            </div>          
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->

  