<div class="col-md-4 col-sm-4">
    <div class="aa-latest-blog-single">
      <figure class="aa-blog-img">                    
        <a href="#"><img src="{{url}}" alt="img"></a>  
          <figcaption class="aa-blog-img-caption">
          <span href="#"><i class="fa fa-eye"></i>{{view}}</span>
          <a href="#"><i class="fa fa-thumbs-o-up"></i>{{like}}</a>
          <a href="#"><i class="fa fa-comment-o"></i>{{cmt}}</a>
          <span href="#"><i class="fa fa-clock-o"></i>{{time}}</span>
        </figcaption>                          
      </figure>
      <div class="aa-blog-info">
        <h3 class="aa-blog-title"><a href="#">{{title}}</a></h3>
        <p>{{detail}}</p> 
        <a href="#" class="aa-read-mor-btn">Read more <span class="fa fa-long-arrow-right"></span></a>
      </div>
    </div>
  </div>